@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13pt;
    margin: 0; padding: 0;
}
h1, h2, h3 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 0px;
}
h2 {
    font-size: 46pt;
}
main {
    width: 100%;
    
}
figure{
    margin: 0;
    padding: 0;
}

#splash {
    background-color: beige;
}

#portfolio, #blog, #footerDiv {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}
#portfolio p {
    text-transform: uppercase;
}
.flex-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}
.card {
    width: 32%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;

}
.card img{
    width: 100%;
    margin-bottom: 10px;
}
.card-link {
    font-size: 22pt;
    text-decoration: none;
    color: #000;
}
.card-link:hover {
    color: #444;
}

.more {
    background-color:#CFBCAE;
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
    padding: 15px 30px;
    margin: 20px;
    display:inline-block;
    border-radius: 5px;
}

#zajawka {
    background-color: #7D4F73D4;
    padding: 70px 30px;
    margin: 20px 0px;
    text-align: center;
}
#zajawka h2 {
    font-size: 32pt;
    font-weight: 300;
    color: #fff;
    line-height: 1.1em;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 100%);
    display: block;
    width: 800px;
    margin: auto;
}
#zajawka p {
    font-size: 10pt;
    letter-spacing: 7px;
    color:#fff;
    font-weight: 300;
    text-transform: uppercase;
}

footer {
    background-color: #BEAB9E;

}
#footerDiv {
    padding: 20px 0px;
}
#footerDiv p, a, address, dl {
    color: #fff;
    font-size: 12pt;
    line-height: 16pt;
    font-style: normal;
}
#footerDiv dt {
    margin-bottom: 5px;
}


#footerDiv .card {
    width: 23%;
    text-align: left;
    overflow: hidden;
    margin-bottom: 20px;
}
#footerDiv h4 {
    color: #fff;
    font-weight: 500;
    font-size: 11pt;
    text-transform: uppercase;
}


@media only screen and (max-width: 576px) {
    /* For mobile phones: */
    h2 {
        font-size: 32pt;
    }
    #portfolio, #blog, #footerDiv {
      width: 100%;
    }
    .card{
        width: 96%;
    }
    #zajawka h2 {
        font-size: 22pt;
        line-height: 1.3em;
        width: 100%
    }
    #footerDiv .card {
        width: 96%;
        
    }
    #footerDiv img {
        width: 80%;
        
    }
}

@media only screen and (min-width: 577px) and (max-width: 1020px) {
    /* For mobile phones: */
    h2 {
        font-size: 32pt;
    }
    
    .card{
        width: 47%;
    }
    .card-link {
        font-size: 18pt;
   }
   #zajawka h2 {
    font-size: 22pt;
    line-height: 1.3em;
    width: 100%

}
}
